:root {
    --primary-color: #FFFFFF;

    --first-accent-color: #FC4A02;
    --second-accent-color: #5C41FE;
    --third-accent-color: #F1FA3C;

    --container-bg-color: #1F1F1F;
    --bg-color: #000000;
}

$mobile: 320px;
$tablet: 820px;
$desktop: 1600px;