.author {
    margin-bottom: 5px;
}

.author__container {
    margin-bottom: 5px;
    padding: 108px 78px 30px 20px;

    @media screen and (min-width: $laptop) {
        padding: 187px 0 30px 30px;
    }
}

.author__title {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-size: 31px;
    line-height: 1.1;
    text-transform: uppercase;
    width: 320px;

    @media screen and (min-width: $laptop) {
        font-size: 42px;
        width: 545px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 57px;
        width: 712px;
    }
}

.author__list-sec {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media screen and (min-width: $laptop) {
        flex-direction: row;
        gap: 5px;
        display: flex;
        justify-content: center;
    }
}

.author__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.author__container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;

    @media screen and (min-width: $laptop) {
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 30px 32px 30px 30px;
        display: flex;
        width: 638px;
        height: 445px;
    }

    @media screen and (min-width: $desktop) {
        width: 788px;
        height: 574px;
    }
}

.author__container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;

    @media screen and (min-width: $laptop) {
        flex-direction: column;
        align-items: flex-end;
        padding: 221px 30px 30px;
        display: flex;
        width: 638px;
        height: 445px;
    }

    @media screen and (min-width: $desktop) {
        padding: 379px 30px 30px;
        width: 788px;
        height: 574px;
    }
}

.author__img {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;

    @media screen and (min-width: $desktop) {
        width: 233px;
        height: 233px;
        margin-bottom: 29px;
    }
}