.contacts__container {
    padding: 29px;
text-align: center;

    @media screen and (min-width: $tablet) {
        display: flex;
                /* text-align: left; */
                padding: 79px 200px 30px 30px;
                align-items: flex-end;
                width: 523px;
}
}

.contacts__list {
display: flex;
        flex-direction: column;
        gap: 5px;

        @media screen and (min-width: $desktop) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 5px;
                // width: calc((100% - 20px / 3));
        }
}

// .contacts__item {
//         // width: calc((100% - 20px / 3));
//         width: 265px;
// }

.contacts__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.6;

        @media screen and (min-width: $desktop) {
                                font-size: 24px;
                }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}