.contacts__container {
    padding: 29px;
text-align: center;

    @media screen and (min-width: $laptop) {
                text-align: left;
                padding: 79px 100px 30px 30px;
                width: 424px;
}

@media screen and (min-width: $desktop) {
        width: 524px;
}
}

.contacts__list {
display: flex;
        flex-direction: column;
        gap: 5px;

        @media screen and (min-width: $laptop) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 5px;
                // width: calc((100% - 20px / 3));
        }
}

// .contacts__item {
//         // width: calc((100% - 20px / 3));
//         width: 265px;
// }

.contacts__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.6;

        @media screen and (min-width: $laptop) {
                        font-size: 24px;
                }
}

.contacts__text:hover {
        color: var(--third-accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}