.examples {
    margin-bottom: 5px;
}

.examples__sticker-container {
    position: relative;
}

.examples__sticker {
    // width: 100px;
    // height: 100px;
    position: absolute;
    top: 131px;
    left: 201px;

    @media screen and (min-width: $tablet) {
        width: 120px;
            height: 120px;
            top: 210px;
                left: 192px;
        }
}

.examples__container {
    margin-bottom: 5px;

    @media screen and (min-width: $tablet) {
            padding: 108px 264px 30px 20px;
        }
}

.examples__title {
    font-family: 'TT Firs Neue';
        font-weight: 500;
        font-size: 30px;
        line-height: 1.1;
        text-transform: uppercase;

        @media screen and (min-width: $tablet) {
                font-size: 42px;
                line-height: 1.1;
            }
}

.examples__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media screen and (min-width: $tablet) {
            display: flex;
                flex-direction: row;
                gap: 5px;
        }
    // position: absolute;
}

.examples__img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.examples__item:last-child {
    display: none;
}




