.examples {
    margin-bottom: 5px;
}

.examples__sticker-container {
    position: relative;
}

.examples__sticker {
    // width: 100px;
    // height: 100px;
    position: absolute;
    top: 134px;
    left: 210px;
    
        @media screen and (min-width: $mobile) {
            // width: auto;
            // height: auto;
            width: 118px;
            height: 118px;
    
            left: 330px;
            top: 104px;
        }
    
        @media screen and (min-width: $tablet) {
            // width: auto;
            // height: auto;
            width: 110px;
            height: 110px;
    
            left: 202px;
            top: 200px;
        }
}

.examples__container {
    margin-bottom: 5px;

    @media screen and (min-width: $tablet) {
            padding: 108px 264px 30px 20px;
        }
}

.examples__container-img {
    margin: 0 auto;
        padding: 0;
        max-width: $mobile;
    
        @media screen and (min-width: $tablet) {
            // padding: 0 40px;
            max-width: $tablet;
        }
    
        @media screen and (min-width: $desktop) {
            // padding: 0 40px;
            max-width: $desktop;
        }
}

.examples__title {
    font-family: 'TT Firs Neue';
        font-weight: 500;
        font-size: 30px;
        line-height: 1.1;
        text-transform: uppercase;

        @media screen and (min-width: $tablet) {
                font-size: 42px;
                line-height: 1.1;
            }
}

.examples__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media screen and (min-width: $tablet) {
            display: flex;
                flex-direction: row;
                gap: 5px;
        }
    // position: absolute;
}

.examples__img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.examples__item:last-child {
    display: none;
}




