.bg-grafit {
    background-color: var(--container-bg-color);
    border-radius: 20px;
}

.bg-orange {
    background-color: var(--first-accent-color);
    border-radius: 20px;
}

.bg-violet {
    background-color: var(--second-accent-color);
    border-radius: 20px;

    @media screen and (min-width: $tablet) {
            padding: 108px 186px 30px 20px;
        }
}

.landing{
    padding: 5px;
}

.orange__btn {
    width: 100%;
    font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        color: var(--primary-color);

    background-color: var(--first-accent-color);
        border-radius: 110px;
        padding: 10px 68px;

        @media screen and (min-width: $tablet) {
        font-size: 18px;
        line-height: 1.5;                
            }
}

.black__btn {
    width: 100%;
    font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        color: var(--primary-color);
    
        background-color: var(--container-bg-color);
        border-radius: 110px;
        padding: 10px 68px;

        @media screen and (min-width: $tablet) {
                font-size: 18px;
                line-height: 1.5;
            }
}

.section__text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.4;

    @media screen and (min-width: $tablet) {
            font-size: 18px;
                line-height: 1.3;
        }
}

.section__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;

    @media screen and (min-width: $tablet) {
            font-size: 16px;
            line-height: 1.6;
        }
}

