.bg-grafit {
    background-color: var(--container-bg-color);
    border-radius: 20px;
}

.bg-orange {
    background-color: var(--first-accent-color);
    border-radius: 20px;
}

.bg-violet {
    background-color: var(--second-accent-color);
    border-radius: 20px;
}

.landing{
    padding: 5px;
}

.orange__btn {
    font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        color: var(--primary-color);

    background-color: var(--first-accent-color);
        border-radius: 110px;
        padding: 10px 68px;
}

.black__btn {
    font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        color: var(--primary-color);
    
        background-color: var(--container-bg-color);
        border-radius: 110px;
        padding: 10px 68px;
}

.section__text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
}



.section__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
}







.offer {
    margin-bottom: 5px;
}







// .main {
//     display: flex;
//             flex-wrap: wrap;
//             justify-content: center;    
//             gap: 5px;
//     margin: 5px;
// }

// // .main__list {
// //     display: flex;
// //     flex-wrap: wrap;
// //     justify-content: center;    
// //     gap: 5px;
// // }

// .main__card-first {
//     display: flex;
//             flex-direction: column;
//             align-items: center;
//             padding: 70px 40px 30px;           
//             border-radius: 20px;
//         width: 100%;
//         margin-bottom: 5px;
// }

// .main__card-second {
//     background-image: url('../img/hero-mob-2x.jpg');
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             border-radius: 20px;
//             height: 390px;
//             width: 100%;                
//             position: relative;
// }

// .header__container {
//     padding: 10px 40px;
//     margin-top: 5px;
//     margin-bottom: 5px;
// }
//     // .hero__list {
// //     display: flex;
// //     flex-wrap: wrap;
// //     justify-content: center;
// //     gap: 5px;
// //     margin: 5px;
    

// //     // @include desktop {
// //     //     column-gap: 5px;
// //     //     margin: 10px;
// //     // }

// // }
// // // // .hero{
// // // //     gap: 5px;
// // // //     display: flex;
// // // //     flex-direction: column;
// // // //     margin: 5px;
// // // //     height: auto;
// // // //     justify-content: center;

// // // //     @include desktop {
// // // //         display: flex;
// // // //         // flex-wrap: wrap;
// // // //         flex-direction: row;
// // // //         justify-content: center;
// // // //         gap: 5px;
// // // //         margin: 10px;
// // // //     }
// // // // }


// // .hero__card-first {
// //     display: flex;
// //     flex-direction: column;
// //     align-items: center;
// //     padding: 70px 20px 30px;
// //     background-color: var(--bg-color-container);
// //     border-radius: 20px;
// //     max-width: 320px;


// //     // @include desktop {
// //     //     align-items: flex-start;
// //     //     max-width: 788px;
// //     //     height: 887px;
// //     //     padding: 30px;
// //     // }
// // }


// // .hero__card-second {
// //     background-image: url('../img/hero-mob-2x.jpg');
// //     background-position: center;
// //     background-repeat: no-repeat;
// //     background-size: cover;
// //     border-radius: 20px;
// //     height: 390px;
// //     max-width: 320px;

// //     position: relative;

// //     // @include desktop {
// //     //     background-image: url('../img/hero-desktop-2x.jpg');
// //     //     max-width: 788px;
// //     //     height: 887px;
// //     // }
// // }

// .main__title {
//     font-family: 'TT Firs Neue';
//     font-weight: 500;
//     font-size: 40px;
//     line-height: 120%;
//     text-transform: uppercase;
//     color: var(--primary-color);

//     margin-bottom: 20px;
//     width: 270px;

// //     // @include desktop {
// //     //     font-size: 80px;
// //     //     margin-bottom: 32px;
// //     //     }
// }

// .main__text {
//     width: 270px;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 130%;
//     color: var(--primary-color);

//     margin-top: 20px;
//     margin-bottom: 100px;

//     // @include desktop {
//     //     width: 528px;
//     //     font-size: 24px;
//     //     margin-bottom: 419px;
//     // }
// }

// .orange__btn {
//     width: 280px;
//     height: 41px;
//     font-family: 'Manrope';
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 150%;
//     color: var(--primary-color);
//     background: var(--first-accent-color);
//     border-radius: 110px;
//     border: none;

//     cursor: pointer;

//     padding: 10px 73px;

//     // @include desktop {
//     //         font-size: 24px;
//     //         width: 100%;
//     //         height: 91px;
//     //     }
// }

// .main__img {
//     width: 130px;
//     position: absolute;
//     top: 31px;
//     left: 20px;
//     transform: rotate(-4.38deg);

// //     // @include desktop {
// //         //     width: 240px;
// //         //     top: 110px;
// //         //     left: 100px;
// //         // }    
// }

// .text-block {
//     margin-top: 5px;
//     margin-bottom: 5px;
// }

// .text-block__container {
//     padding: 29px 0;
//     text-align: center;
// }

// .text-block__text {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 22px;
//     color: var(--primary-color);
// }

// .info {
//     flex-wrap: wrap;
//         justify-content: center;
//         gap: 5px;
//         display: flex;
//         margin-bottom: 5px;
// }

// .info__container {
//     padding: 30px 40px;

// }

// // .info__container:last-child {
// //     margin-bottom: 5px;
// // }

// .info__title {
//     font-family: 'TT Firs Neue';
//     font-weight: 500;
//     font-size: 30px;
//     line-height: 108%;
//     text-transform: uppercase;
//     color: var(--primary-color);

//     margin-bottom: 30px;
// }

// .info__list {
//     display: flex;
//     flex-direction: column;
//     gap: 15px;
// }

// .info__item,
// .info__text {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 160%;
//     color: var(--primary-color);
// }

// // // // .accent {
// // // //     margin-bottom: 5px;
// // // // }

// // // // .accent__container {
// // // //     background-color: var(--second-accent-color);
// // // //     padding: 30px 20px;
// // // // }

// // // // .accent__title {
// // // //     font-family: 'TT Firs Neue';
// // // //     font-weight: 500;
// // // //     font-size: 31px;
// // // //     line-height: 108%;
// // // //     text-transform: uppercase;

// // // //     color: var(--primary-color);
// // // // }

// // // // .examples {
// // // //     margin-bottom: 5px;
// // // // }

// .title-block {
//     margin: 5px 0;
// }

// .title-block__container {
//     padding: 30px 40px;
// }

// .title-block__title {
//     width: 270px;
//     font-family: 'TT Firs Neue';
//     font-weight: 500;
//     font-size: 31px;
//     line-height: 108%;
//     text-transform: uppercase;
//     color: var(--primary-color);
// }

// .title-block__container--purple {
//     background-color: var(--second-accent-color);
// }

// .examples__list {
//     flex-wrap: wrap;
//         justify-content: center;
//         gap: 5px;
//         display: flex;
// }

// .examples__item:last-child {
//     display: none;
// }

// .about__container {
//     padding: 30px 40px;
//     margin-bottom: 5px;
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
// }

// .about__img {
//     margin: auto;
// }

// .about-block__title {
//     width: 270px;
//     font-family: 'TT Firs Neue';

//     font-weight: 500;
//     font-size: 30px;
//     line-height: 130%;
//     text-transform: uppercase;

//     color: var(--primary-color);
    
// }

// .about__text {
//     width: 270px;
//     font-weight: 400;
//         font-size: 14px;
//         line-height: 160%;
//         color: var(--primary-color);
// }

// .title-block__container--orange{
//     background-color: var(--first-accent-color);
// }
// // // // .accent-orange {
// // // //     margin-bottom: 5px;
// // // // }

// // // // .accent-orange__container {
// // // //     padding: 30px 20px;
// // // //     background-color: var(--first-accent-color);
// // // // }

// // // // .accent-orange__title {
// // // //     font-family: 'TT Firs Neue';
// // // //     font-weight: 500;
// // // //     font-size: 31px;
// // // //     line-height: 130%;
// // // //     text-transform: uppercase;

// // // //     color: var(--primary-color);
// // // //     margin-bottom: 20px;
// // // // }

// .black__btn {
//     // display: flex;
//     width: 280px;
//     height: 41px;
//     font-family: 'Manrope';
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 150%;
//     color: var(--primary-color);
//     background: var(--bg-color-container);
//     border-radius: 110px;
//     border: none;

//     cursor: pointer;

//     padding: 10px 73px;
// }

// // // // .contacts {
// // // //     margin-bottom: 5px;
// // // // }

// .contacts__container {
//     padding: 30px 40px;
// }

// .contacts__text {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 160%;
//     color: var(--primary-color);

//     text-align: center;
// }