.main {
    margin-bottom: 5px;
    
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main__title {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-size: 31px;
    line-height: 1.2;
    text-transform: uppercase;

    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
        font-size: 50px;
        line-height: 1.2;
    }
}

.main__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.31;

    margin-bottom: 80px;

    @media screen and (min-width: $tablet) {
        width: 530px;
            font-size: 18px;
            line-height: 1.3;

    margin-bottom: 219px;
        }
}

// .main__foto {
// border-radius: 25px;
// }


.main__sticker {
    position: absolute;
    left: 27px;
    top: 42px;
    
    @media screen and (min-width: $tablet) {
            width: 220px;
            height: 130px;

            left: 112px;
                top: 160px;
        }
}

.main__sticker-container {
    position: relative;
}

.main__img {
    width: 100%;
        height: 100%;
        border-radius: 20px;
    margin: 0;
        padding: 0;
}