.price {
    margin-bottom: 5px;
}

.price__title {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-size: 31px;
    line-height: 1.1;
    text-transform: uppercase;

    margin-bottom: 60px;
}

.price__box {
    display: flex;
        justify-content: space-between;
            align-items: center;

    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        justify-content: center;
            align-items: center;
            display: flex;
    }
}

.price__text-left {
    font-family: 'TT Firs Neue';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.31;
        text-transform: uppercase;
        text-decoration: line-through;

        @media screen and (min-width: $tablet) {
                margin-right: 30px;
            }
}

.price__text-right {
    font-family: 'TT Firs Neue';
        font-weight: 500;
        font-size: 31px;
        line-height: 1.29;
        text-transform: uppercase;
        color: var(--third-accent-color);
}